.icono{
	width: 90px;
	height: 90px;
}

body{
	font-family: Amaranth, Gentium, Merriweather
}

.header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    
}

.header nav, .icono{
    padding: 10px;
}

.banner{
    margin-top: 1rem;
    width: 100%;
    height: auto;
	top:0;
	left: 0;
}

body{
	text-align: center;
	font-size: 25px;
}

.asi{
	float: left;
}

table{
	float: left;
	width: 40%;
}

.cul_aside{
	width: 200px;
	height: 150px;
}

#button {
 	padding: 0;
 }

 #button li {
 	display: inline;
 }

#button li a {
	 font-family: Arial;
 	font-size: 30px;
 	text-decoration: none;
 	float: right;
 	padding: 10px;
 	background-color: #2175bc;
 	color: #fff;
 }
 #button li a:hover {
 	background-color: #2586d7;
 	margin-top: -2;
 	padding-bottom: 12px;
 }